{% extends '/layout.html.twig' %}

{% block stylesheets_specific %}
    <link rel="stylesheet" href="{{ asset('/styles/employee_account_details_specific.css') }}">
{% endblock %}

{% block content %}

<h1 class="page-title">Detail účtu zaměstnance: {{ employee.name }}</h1>
<div id="add-account-container">
    <a id="add-account-link" href="{{ path('app_account_create', { employee_id: employee.id }) }}">Přidat účet</a>
</div>
<section class="accounts">
    {% if accounts is not empty %}
    <ul>
        {% for account in accounts %}
            <li>
                <h3>{{ loop.index }}</h3>
                <dl>
                    <dt>Název účtu</dt>
                    <dd>{{ account.name }}</dd>

                    <dt>Typ</dt>
                    <dd>{{ account.type }}</dd>

                    <dt>Expirace</dt>
                    <dd>
                        <time datetime="{{ account.expiration|date('Y-m-d') }}">
                            {{ account.expiration|date('d.m.Y') }}
                        </time>
                    </dd>
                </dl>
                <a class="account-link" href="{{ path('app_account_edit', { employee_id: employee.id, id:account.id}) }}">
                    Upravit účet
                </a>
                <a class="account-link" href="{{ path('app_account_remove', {employee_id: employee.id, id: account.id}) }}">
                    Smazat účet
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Tento zaměstnanec nemá žádné účty.</h2>
    {% endif %}
</section>

{% endblock %}
