
<h1 class="page-title">Vyhledaní zaměstnanci</h1>
<ol class="vyhledani-zamestnanci">
    {% for employee in employees %}
    <li>
        <section class="search-result">
            <h2>{{ employee.name }}</h2>
            <img src="{{ employee.image_url }}" alt="Zaměstnanec">
            <dl>
                <dt>Funkce</dt>
                    <dd>{{ employee.position }}</dd>
                <dt>Kontakt</dt>
                    <dd><a href="mailto:{{ employee.email }}">{{ employee.email }}</a></dd>
            </dl>
            <div class="search-result-links">
                <a href="?page=employee_details&id={{ employee.id }}">Detail</a>
                <a href="?page=error_page">Úprava</a>
                <a href="?page=employee_account_details&id={{ employee.id }}">Účty</a>
            </div>

        </section>
    </li>
    {% else %}
        <li>Žádní zaměstnanci nenalezeni.</li>
    {% endfor %}

</ol>