{% extends '/layout.html.twig' %}

{% block stylesheets_specific %}
    <link rel="stylesheet" href="{{ asset('/styles/form.css') }}">
{% endblock %}

{% block content %}
    <h1 class="page-title">{{ title }}</h1>

    <section class="form">
        {{ form_start(form) }}

        <fieldset>

                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}

                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}

                {{ form_label(form.office_location) }}
                {{ form_widget(form.office_location) }}
                {{ form_errors(form.office_location) }}

                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}

                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}



                {{ form_label(form.roles) }}


                {{ form_widget(form.roles) }}


                {{ form_errors(form.roles) }}

        </fieldset>

        {{ form_rest(form) }}

        <button type="submit" class="submit-button">{{ button_text }}</button>

        {{ form_end(form) }}
    </section>
{% endblock %}