{% extends '/layout.html.twig' %}

{% block stylesheets_specific %}
    <link rel="stylesheet" href="{{ asset('/styles/employee_details_specific.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">Detail zaměstnance: {{ employee.name }}</h1>
<section class="content">
    <img src="{{ employee.image_url ?: '/images/3.jpg' }}" alt="employee {{ employee.name }}">

    <article id="roles-contacts">
        <h3>Funkce</h3>
        <ul>
            {% for role in employee.roles %}
                <li>{{ all_roles[role].name }}</li>
            {% else %}
                <dd>Nemá žádnou roli.</dd>
            {% endfor %}
        </ul>
        <h3>Kontakt</h3>
        <ol>
            <li>Email: <a href="mailto:{{ employee.email }}">{{ employee.email }}</a></li>
            <li>Telefon: <a href="tel:{{ employee.phone }}">{{ employee.phone }}</a></li>
            {% if employee.office_location %}
                <li>Kancelář: {{ employee.office_location }}</li>
            {% endif %}
        </ol>
    </article>
    <div id="description-link">
        <p id="employee_description">{{ employee.description }}</p>

        <a class="accounts-link" href="{{ path('app_employee_account_details', {id: employee.id}) }}">Účty</a>
        <a class="accounts-link" href="{{ path('app_employee_edit', { id: employee.id }) }}">Úprava</a> <!--id="accounts-link">>

    </div>
</section>
{% endblock %}