<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jakub Černý">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title_name %}
        <title> {{ title }} </title>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('styles/global.css') }}">
    {% block stylesheets_specific %}

    {% endblock %}
</head>
<body>
<header>
  <h1>Evidence zaměstnanců</h1>
  <nav>
    <ul class="nav-list">
      <li><a href="{{ path('app_homepage') }}">Domovská stránka</a></li>
      <li><a href="{{ path('app_employees') }}">Přehled zaměstnanců</a></li>
      <li><a href="/contact">Kontakt</a></li>
      <li><a href="{{ path('app_employee_roles') }}">Správa účtů</a></li>
    </ul>
  </nav>
</header>

<main>
{% block content %}{% endblock %}

</main>

{% block back_link %}
  <a class="back-link" href="{{ path('app_homepage') }}">Návrat na hlavní stránku</a>
{% endblock %}

  <footer>
    <p>&copy; 2024 - Evidence zaměestnanců</p>
  </footer>

</body>
</html>